.intro {
    
    height:60rem;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
}
.video-header {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1;
  filter:  opacity(0.4);
  
}
.moto {
    font-size: 35px;
    font-family: sans-serif;
    font-weight: lighter;
    transition:  0.5s;
    margin-top: 8rem;
}
.intro {
  /* background-clip: url('../assets/bg.mp4');  */
  background-size: cover;
  position: relative;
  background-position: top;
  
}

@media screen and (max-width: 720px){
  .intro{
    background-position: top;
    background-size: auto;
  }
  
  
  
}




