.navbar {
    height: auto; 
    width: 100%;
    margin-left: auto;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    padding-bottom: 10px;
    /* border-radius: 40px; */
    font-weight: bold;
    z-index: 10;
    text-align: center;
    transition: 0.5s;
    background-color: rgba(244, 244, 244, 0);
    backdrop-filter: none;
}
.navbar:hover {
    
    background-color: rgb(71, 134, 189);
    
}

.navbar.scrolled {
    background-color: rgb(71, 134, 189); /* Or your preferred color */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    
  }

.logo2 {
    padding-top: 10px;
    width: 160px;
    height: 100px;
}

.menu {
    display: flex;
    flex-direction: row; /* Keep items side-by-side horizontally */
    justify-content: center;
    flex-wrap: wrap; /* So it wraps on smaller screens */
    align-items: center;
    gap: 8rem;
}
.user-icon-link:hover .user-icon {
    color: rgb(223, 239, 255);
    transform: scale(1.1);
    transition: color 0.3s ease, transform 0.3s ease;
}

/* Base Icon Style */
.user-icon {
    transition: color 0.3s ease, transform 0.3s ease;
}
.item {
    font-size: 23px;
    font-weight: 100;
    font-family: "Playfair Display";
    transition: 0.4s;
    cursor: pointer;
    width: 160px;
}
.user-icon-container {
    position: absolute;
    right: 1.5rem; /* Adjust distance from right edge */
    top: 50%;
    padding: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    /* background-color: rgb(94, 157, 201); */
    border-radius: 100%;
}

.user-icon {
    transition: color 0.3s ease, transform 0.3s ease;
}

.user-icon-container:hover .user-icon {
    color: rgb(223, 239, 255);
    transform: scale(1.1);
}
.item:hover {
    color: rgb(223, 239, 255);
    padding-bottom: 0.5rem;
    border-bottom: 3px solid rgb(189, 207, 225);
    /* color: rgb(194, 149, 94); */
    
}

/* .navbar:hover {
    background-color: rgba(26, 67, 20, 0);
} */

.mobMenu {
    display: none;
    height: 40px;
    margin-right: 8px;
}

/* Responsive changes */
@media screen and (max-width: 720px) {
    .mobMenu {
        display: flex;
    }
    .menu {
        display: none;
    }
}
